.counters {
    background-color: #fff;
    padding: 6% 10%;
    i {
        display: inline-block;
        padding: 0 22px;
        font-size: 20px;
    }
    .counter {
        margin: 0 !important;
        font-size: 60px;
        font-weight: 700;
        color: #424242;
        padding-left: 10px;
    }
    h3 {
        font-size: 15px;
        line-height: 24px;
        font-weight: 700;
        height: 48px;
        width: 204px;
        color: #424242;
    }
}
