.plain-card {
    //code here
    .ant-card-body {
        //code here
        background-color: $color-gray-4 !important;
    }

    svg {
        font-size: 40px;
    }
}

.icon-card {
    background: rgb(236, 236, 236);
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 10%);
    border-radius: 0.2857rem;
    min-width: 0;
    word-wrap: break-word;

    h1 {
        padding: 15px 15px 0;
        border: 0;
        //color: hsla(0,0%,100%,.8);

        &:not([data-background-color]) {
            background-color: transparent;
        }
    }

    p {
        padding: 15px 15px 0;
    }

    .font-icon-detail {
        text-align: center;
        padding: 45px 0 30px;
        border: 1px solid $color-darkgrey;
        border-radius: 0.1875rem;
        margin: 15px 0;
        min-height: 168px;
    }

    svg {
        font-size: 1.5em;
    }
}
