.ant-table {
    &-thead {
        > tr {
            > th {
                font-weight: 500;
                font-size: 14px !important;
                transition: background 0.3s ease;
                @include cc-color($color-white);
                @include bg-color($color-primary)
            }
        }
    }
}
