.widget {
    background-color: #f3f3f3;
    padding: 5% 10%;
    min-height: 280px;
    text-align: center;
    h3 {
      color: $color-primary;
      font-size: 2.5rem;
      font-weight: bold;
    }
    p {
      font-size: 17px;
      line-height: 24px;
      color: #0e2b5c;
    }
    .card {
      background-color: #fff;
      margin-top: 50px;
      height: 355px;
      padding: 10px 20px;
      .icon {
        margin: 30px auto;
        border: 3px solid $color-primary;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 0.5em;
        color: $color-primary;
        background-color: transparent;
        i{
          font-size: 2.5rem;
        }
      }
      .title {
        h4 {
          color: $color-primary;
          font-size: 20px;
        }
      }
    }
  }
  